<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <!-- here we will include our navbar partial -->
	  
	  <%-  include("../partials/navbar")%>
	  <%-  include("../partials/flash-messages")%>
	  
	  
	  <h1>boiler plate working</h1>
	   <%- body -%>
	  <!-- body copues from the template and put here -->
	  
 </body>
</html>